* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-row {
    display: flex;
}

button {
    width: 40px;
    height: 40px;
    line-height: 1;

    outline: none;
    border: 1px solid black;
}